<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="/static/new_form_style.css">
    <head>
        <link rel="stylesheet" type="text/css"
                href="https://fonts.googleapis.com/css?family=Raleway">
        <title> Application Process Part II </title>
    </head>
    <body>
        <div class="container">
            <div class="mentors-button">
                <a href="/mentors">
                    <button class="button" type="button"><span>Mentors</span></button>
                </a>
            </div>
            <div class="all-school-button">
                <a href="/all-school">
                    <button class="button" type="button"><span>All School</span></button>
                </a>
            </div>
            <div class="mentors-by-country-button">
                <a href="/mentors-by-country">
                    <button class="button" type="button"><span>Mentors by country</span></button>
                </a>
            </div>
            <div class="contacts-button">
                <a href="/contacts">
                    <button class="button" type="button"><span>Contacts</span></button>
                </a>
            </div>
            <div class="applicants-button">
                <a href="/applicants">
                    <button class="button" type="button"><span>Applicants</span></button>
                </a>
            </div>
            <div class="applicants-and-mentors-button">
                <a href="/applicants-and-mentors">
                    <button class="button" type="button"><span>Applicants and Mentors</span></button>
                </a>
            </div>
        </div>
    </body>
</html>
